<div class="container">
    <h2>  Kunder: </h2>
    <div>
        <div class="col-md-12">
            <div *ngIf="laster">Laster kunder.....</div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Fornavn</th>
                        <th>Etternavn</th>
                        <th>Mobilnummer</th>
                        <th>E-post</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let kunde of alleKunder">
                    <tr>
                        <td>{{kunde.fornavn}}</td>
                        <td>{{kunde.etternavn}}</td>
                        <td>{{kunde.mobilnummer}}</td>
                        <td>{{kunde.epost}}</td>
                        <td><button class="btn btn-danger" (click)="sletteKunde(kunde.id)">Slett</button></td>
                        <td><button class="btn btn-success" [routerLink]="['/endreKunde',kunde.id]">Endre</button></td>
                    </tr>
                </tbody>
            </table>
            <button class='btn btn-primary' routerLink="/lagreKunde">Legg til kunde</button>
        </div>
    </div>
</div>
